<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Projeto CG{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_style.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="app-window">
        <header class="title-bar">
            <div class="app-title">Computação Gráfica  - 2025.2</div>
        </header>

        <div class="container">
            <aside class="sidebar">
                <div class="sidebar-header">
                    <i class="fa-solid fa-layer-group"></i> ALGORITMOS
                </div>
                <nav>
                    <ul>
                        <li><a href="{{ url_for('mod_1_main.index') }}"><i class="fa-solid fa-house"></i> Início</a></li>
                        <li class="nav-section">Retas e Circunferências</li>
                        <li><a href="{{ url_for('mod_3_retas.retas_page') }}"><i class="fa-solid fa-lines-leaning"></i> Retas</a></li>
                        <li><a href="{{ url_for('mod_4_circunferencia.circ_page') }}"><i class="fa-solid fa-circle"></i> Circunferências</a></li>
                        <li><a href="{{ url_for('mod_6_elipse.elipse_page') }}"><i class="fa-solid fa-oval"></i> Elipse</a></li>

                        <li class="nav-section">Recortes</li>
                        <li><a href="{{ url_for('mod_7_clipping.clipping_page') }}"><i class="fa-solid fa-scissors"></i> Recorte de Janela(Cohen-Suterland)</a></li>
                        <li><a href="{{ url_for('mod_8_sutherland_hodgman.sh_page') }}"><i class="fa-solid fa-draw-polygon"></i> Recorte de Polígonos(Suther-Hodgman)</a></li>

                        <li class="nav-section">Transformações</li>
                        <li><a href="{{ url_for('mod_5_twod.twod_page') }}"><i class="fa-solid fa-vector-square"></i> Transformações 2D</a></li>
                        <li><a href="{{ url_for('vp_2d.vp_twod_page') }}"><i class="fa-solid fa-vector-square"></i> Viewport 2D</a></li>
                        <li><a href="{{ url_for('mod_10_3d_viewing.view3d_page') }}"><i class="fa-solid fa-cube"></i> Visualização 3D</a></li>
                        <li><a href="{{ url_for('vp_3d.vp_threed_page') }}"><i class="fa-solid fa-vector-square"></i> Viewport 3D</a></li>
                        
                        <li class="nav-section">Representação Splines</li>
                        
                        <li><a href="{{ url_for('mod_13_bezier.bezier_page') }}"><i class="fa-solid fa-bezier-curve"></i> Curvas Bézier</a></li>
                    </ul>
                </nav>
            </aside>
            <main class="content">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
    {% block extra_js %}{% endblock %}
</body>
</html>