{% extends "base_layout.html" %}

{% block title %}Desenho da elipse, pelo algoritmo do ponto médio{% endblock %}

{% block content %}
<h2>Elipse</h2>
<div class="controls-container">

    <div class="controls">
        <div class="control-group">
            <label>Centro (xc, yc):</label>
            <div class="input-row">
                <input type="number" id="center-x" value="0" placeholder="Xc">
                <input type="number" id="center-y" value="0" placeholder="Yc">
            </div>
        </div>
        
        <div class="control-group">
            <label>Raios (Rx, Ry):</label>
            <div class="input-row">
                <input type="number" id="Rx" value="100" placeholder="Rx">
                <input type="number" id="Ry" value="50" placeholder="Ry">
            </div>
        </div>
        
        <div class="control-group">
            <label>Algoritmo:</label>
            <select id="circle-algo">
                <option value="PontoMedio" selected>Ponto Médio</option>
            </select>
        </div>
        <button id="draw-circle-btn">Desenhar elipse</button>
    </div>

    <canvas id="canvas-circ" width="600" height="600"></canvas>

    <div class="info-panel">
        <div class="control-group full-height">
            <h4>Informações da Elipse</h4>
            <label>Pontos Gerados (x, y):</label>
            <textarea id="circ-points-info" class="info-box" readonly>Nenhuma elipse gerada.</textarea>
            <button id="clear-btn">Limpar Histórico</button>
        </div>
    </div>

</div>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('mod_6_elipse.static', filename='elipse_script.js') }}"></script>
{% endblock %}